* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: gainsboro;
}

header {
  width: 100%;
  height: 12%;
  top: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

main {
  margin-top: 120px;
}

.card {
  width: 75%;
  border: 3px solid black;
  border-radius: 20px;
  background-color: white;
  padding: 15px 30px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.bookmark {
  border-radius: 50%;
  max-width: 20%;
  height: auto;
  display: flex;
  position: absolute;
  border: 1px solid black;
  background-color: white;
  top: -20px;
  right: 10px;
}
