.profile-main {
  padding: 20px 30px;
  margin-top: 85px;
  padding-bottom: 100px;
}

.user-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile-picture {
  max-width: 35%;
  height: auto;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
}

.user-name {
  font-size: 2rem;
  font-weight: bolder;
}

.headline {
  padding: 5px;
  background-color: var(--primary-color);
  color: var(--highlight-color);
  margin-top: 10%;
}

.running-text {
  font-size: 1rem;
  margin-top: 5%;
}

.counter-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.counter {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 5px 10px;
  width: 100px;
  margin-top: 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.bolt {
  width: 24px;
}

.fonts-darkmode {
  font-size: 1.25rem;
  font-weight: bolder;
}

.darkmode-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
  }

.slider-darkmode-label {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

/* .slider-darkmode-checkbox {
  display: none;
} */

/* .slider-darkmode-label-slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: 0.4s;
  border-radius: 34px;
}

.slider-darkmode-label-slider:before {
  background-color: var(--primary-color);
  border-radius: 50%;
  bottom: 4px;
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
  content: "";
}

input:checked + .slider-darkmode-label-slider {
  background-color: var(--highlight-color);
}

input:checked + .slider-darkmode-label-slider:before {
  background-color: var(--primary-color);
  transform: translateX(26px);
} */ */
